Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

bye bye !!
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

Fix casting and use iface
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

Example using httpclient iface.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/KtorClient.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

update exception handling
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

iface patch action
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

Remove JUnit references from subprojects and push forward JUnit version in parent.
  build.gradle.kts
  common/build.gradle.kts
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, crypto, dids, common

PR feedback
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Use empty lists
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

Prefer iterables
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Post merge
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

Post merge
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

(crypto/secp256k1) ensure that `sign` always returns the low-s signature
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
Due: crypto

(common/convert) add TODO
  common/src/main/kotlin/web5/sdk/common/Convert.kt
Due: common

add did ion resolver to `DidResolvers`
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
Due: dids

Consistent interface plus examples.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  docs/examples.md
Due: dids

Documentation
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Fix le warn
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Better names
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

(crypto) smol housekeeping
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
Due: crypto

Assertion method should be the default
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

Some fixes after testing
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: credentials, dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/web5.sdk.common/-b64-u-r-l_-d-e-c-o-d-e-r.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/-convert.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/index.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/to-base58-btc.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/to-base64-url.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/to-byte-array.html
  docs/htmlMultiModule/common/web5.sdk.common/-convert/to-str.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/-p-r-i-v_-m-u-l-t-i-c-o-d-e-c.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/-p-u-b_-m-u-l-t-i-c-o-d-e-c.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/index.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-c-o-m-p-r-e-s-s-e-d_-k-e-y_-s-i-z-e.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-c-o-m-p_-k-e-y_-e-v-e-n_-y_-i-d.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-c-o-m-p_-k-e-y_-o-d-d_-y_-i-d.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-p-r-i-v_-m-u-l-t-i-c-o-d-e-c.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-p-u-b_-m-u-l-t-i-c-o-d-e-c.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-u-n-c-o-m-p-r-e-s-s-e-d_-k-e-y_-i-d.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/-u-n-c-o-m-p-r-e-s-s-e-d_-k-e-y_-s-i-z-e.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/algorithm.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/bytes-to-private-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/bytes-to-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/compress-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/compute-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/generate-private-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/index.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/inflate-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/key-type.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/private-key-to-bytes.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/public-key-to-bytes.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/public-key-x-range.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/sign.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/validate-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/verify.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/add-resolver.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/resolve.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

bump version
  build.gradle.kts
Due: none

versioning fixes
  build.gradle.kts
  common/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
  jitpack.yml
Due: crypto, dids, common

Support adding arbitrary services during did ion creation.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Added tests for exceptions and validation
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Simplify
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

serialize/deserialize presentation definitions according to spec casing
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
Due: credentials

WIP
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Fix serialization
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Delete unused
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
Due: credentials

fix serial/deserialization of presentation definitions (#90)
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Test refactors
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
