Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

wrote tostring for service. moving util method to dids package. added a todo to fix a test
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/DidUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: credentials, dids

Removes Snyk
  .github/workflows/security.yml
Due: none

Removes Snyk (#255)
  .github/workflows/security.yml
Due: none

removing todos, pulled out util method to separate file
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/DidUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

addressing code review comments
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: dids

fixing test vectors
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDhtDocumentMetadata.kt
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
Due: dids

added tests for service verification and did uri. one test failing for did uri
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidUriTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/ServiceTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/VerificationMethodTest.kt
Due: dids

fixed a test, but with a todo to discuss
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidUri.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidUriTest.kt
Due: dids

removed printlns
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidUri.kt
Due: dids

adding more invalid did test cases
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidUriTest.kt
Due: dids

addressing tests
  build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidUriTest.kt
Due: credentials, dids

quietly committing this before the tests find out they actually wanted to fail
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/methods/DidUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidUriTest.kt
Due: credentials, dids

Issue #257 - Address sec vuln
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

fix did web test name (#224)
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

delete gradlew
  .github/workflows/ci.yml
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/publish.yml
  README.md
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

readme, build
  README.md
  build.gradle.kts
Due: none

remove node
  bin/.node-21.6.2.pkg
  bin/corepack
  bin/node
  bin/npm
  bin/npx
Due: none

addressing code review comments
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/DidUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DIDDhtDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

Issue #257 - Address sec vuln (#258)
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

small updates
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

adding more tests to please codecov
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DIDDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

moving Json out to commons package
  common/build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/Json.kt
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
Due: dids, common

fixing import errors
  common/src/main/kotlin/web5/sdk/common/Json.kt
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids, common

PR review changes
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  bin/.openjdk-11.0.10_9.pkg
  bin/jaotc
  bin/jar
  bin/jarsigner
  bin/java
  bin/javac
  bin/javadoc
  bin/javap
  bin/jcmd
  bin/jconsole
  bin/jdb
  bin/jdeprscan
  bin/jdeps
  bin/jfr
  bin/jhsdb
  bin/jimage
  bin/jinfo
  bin/jjs
  bin/jlink
  bin/jmap
  bin/jmod
  bin/jps
  bin/jrunscript
  bin/jshell
  bin/jstack
  bin/jstat
  bin/jstatd
  bin/keytool
  bin/pack200
  bin/rmic
  bin/rmid
  bin/rmiregistry
  bin/serialver
  bin/unpack200
Due: none

changing context field to be a list, changing test vectors to comply with this change
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DIDDocumentTest.kt
  dids/src/test/resources/did_document_jwkEx256k1Public_assertion.json
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
  dids/src/test/resources/expected_long_form_did_resolution.json
Due: dids

Security Advisory #GHSA-g6qj-pj38-2465: Address CVE-2024-21634
  gradle/libs.versions.toml
Due: none

Security Advisory #GHSA-g6qj-pj38-2465: Address CVE-2024-21634 (#253)
  gradle/libs.versions.toml
Due: none

remove gradle build action
  .github/workflows/gh-pages-deploy.yml
Due: none

Automate GH Release Publication
  .github/workflows/publish.yml
Due: none

fix tag version
  .github/workflows/publish.yml
Due: none

Add release instructions
  README.md
Due: none

bring back builder
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/BitstringStatusListEntry.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

rename status list 2021
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/StatusList2021Entry.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/resources/revocable_vc.json
Due: credentials

create bearerdid and portable did, keyexporter and keyimporter
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDID.kt
  dids/src/main/kotlin/web5/sdk/dids/did/PortableDID.kt
Due: crypto, dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
