Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

Update credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

updates
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

Updates `did:dht` implementation to the latest spec (#183)
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/-create-did-dht-options.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/also-known-ases.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/controllers.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/publish.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/services.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-create-did-dht-options/verification-methods.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/-did-dht-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/load.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/publish.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-api/suffix.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/-default/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/-did-dht.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/did-document.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/from-dns-packet.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/publish.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/to-dns-packet.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht/validate.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/index.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

Lint
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Aligning with spec updates.
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  test-vectors/did_dht/create.json
Due: dids

Mock because gateway is too slow.
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Patches security vulnerabilities (#160)
  build.gradle.kts
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: credentials, crypto, dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/images/anchor-copy-button.svg
  docs/htmlMultiModule/images/arrow_down.svg
  docs/htmlMultiModule/images/burger.svg
  docs/htmlMultiModule/images/copy-icon.svg
  docs/htmlMultiModule/images/copy-successful-icon.svg
  docs/htmlMultiModule/images/footer-go-to-link.svg
  docs/htmlMultiModule/images/go-to-top-icon.svg
  docs/htmlMultiModule/images/logo-icon.svg
  docs/htmlMultiModule/images/nav-icons/abstract-class-kotlin.svg
  docs/htmlMultiModule/images/nav-icons/annotation-kotlin.svg
  docs/htmlMultiModule/images/nav-icons/class-kotlin.svg
  docs/htmlMultiModule/images/nav-icons/enum-kotlin.svg
  docs/htmlMultiModule/images/nav-icons/field-value.svg
  docs/htmlMultiModule/images/nav-icons/field-variable.svg
  docs/htmlMultiModule/images/nav-icons/interface-kotlin.svg
  docs/htmlMultiModule/images/nav-icons/object.svg
  docs/htmlMultiModule/images/nav-icons/typealias-kotlin.svg
  docs/htmlMultiModule/images/theme-toggle.svg
  docs/htmlMultiModule/scripts/clipboard.js
  docs/htmlMultiModule/scripts/navigation-loader.js
  docs/htmlMultiModule/scripts/platform-content-handler.js
  docs/htmlMultiModule/scripts/symbol-parameters-wrapper_deferred.js
  docs/htmlMultiModule/styles/font-jb-sans-auto.css
  docs/htmlMultiModule/styles/logo-styles.css
  docs/htmlMultiModule/styles/main.css
  docs/htmlMultiModule/styles/prism.css
  docs/htmlMultiModule/styles/style.css
Due: none

Internal error for other exceptions.
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

Make didDoc default to null.
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  test-vectors/did_web/resolve.json
Due: credentials, dids

handroll Bencoder
  README.md
  credentials/build.gradle.kts
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Bencoder.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/BencoderTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: credentials, dids

use constants for `BENCODED_SEQ` and ` BENCODED_V`
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Bencoder.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/BencoderTest.kt
Due: dids

add tests
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/BencoderTest.kt
Due: dids

addressing comment
  test-vectors/did_dht/create.json
Due: none

Add VerifiablePresentation Creation, Signing, and Verification (#184)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/index.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/verify.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-vc-data-model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/from-json.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/verify.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/get-field-by-json-path.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/issuer.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/subject.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/to-string.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/type.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/-companion/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/-companion/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/-companion/parse-jwt.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/-companion/verify.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/holder.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/to-string.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/verifiable-credential.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-presentation/vp-data-model.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-vp-data-model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/index.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/package-list
  docs/htmlMultiModule/scripts/pages.json
  docs/htmlMultiModule/testing/navigation.html
Due: none

comment
  sdjwt/src/main/kotlin/web5/security/SdJwtBlinder.kt
Due: none

move disclosure
  sdjwt/src/main/kotlin/web5/security/Disclosures.kt
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
Due: none

rename file
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
Due: dids

Incorporate did_web test vectors (#172)
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  dids/build.gradle.kts
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  dids/src/test/resources/expected_long_form_did_resolution.json
  test-vectors/did_web/resolve.json
Due: credentials, dids

Skip line
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Update DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

Incorporate did_jwk test vectors (#173)
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/-create-did-jwk-options.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/algorithm.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/curve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/load.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-did-jwk.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/resolve.html
Due: none

Did dht test vectors (#181)
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  test-vectors/did_dht/README.md
  test-vectors/did_dht/create.json
  test-vectors/did_dht/resolve.json
Due: dids

Renames a test to comply with convention
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Renames a test to comply with convention (#191)
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

add submodules
  .github/workflows/ci.yml
  .gitmodules
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  test-vectors/credentials/create.json
  test-vectors/credentials/verify.json
  test-vectors/did_dht/README.md
  test-vectors/did_dht/create.json
  test-vectors/did_dht/resolve.json
  test-vectors/did_jwk/resolve.json
  test-vectors/did_web/resolve.json
  test-vectors/presentation_exchange/create_presentation_from_credentials.json
  test-vectors/presentation_exchange/select_credentials.json
  test-vectors/presentation_exchange/validate_definition.json
  test-vectors/vectors.schema.json
Due: credentials, dids

Update README.md
  README.md
Due: none

Update readme
  README.md
Due: none

change order
  README.md
Due: none

Rename sdk-development -> web5-spec
  .github/workflows/ci.yml
Due: none

Setup CodeQL SAST
  .github/workflows/codeql.yml
Due: none

sdk-report-runner
  .github/workflows/ci.yml
Due: none

Adding options.
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

Add submodules (#192)
  .github/workflows/ci.yml
  .gitmodules
  README.md
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  test-vectors/credentials/create.json
  test-vectors/credentials/verify.json
  test-vectors/did_dht/README.md
  test-vectors/did_dht/create.json
  test-vectors/did_dht/resolve.json
  test-vectors/did_jwk/resolve.json
  test-vectors/did_web/resolve.json
  test-vectors/presentation_exchange/create_presentation_from_credentials.json
  test-vectors/presentation_exchange/select_credentials.json
  test-vectors/presentation_exchange/validate_definition.json
  test-vectors/vectors.schema.json
Due: credentials, dids
