Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

to dns packet working
  common/src/main/kotlin/web5/sdk/common/Error.kt
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids, common

(crypto) add symmetric `import` `export` methods to `InMemoryKeyManager`
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: crypto, dids

add missing KDoc
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

add test for `InMemoryKeyManager.export`
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
Due: crypto

remove duplicate dependency
  dids/build.gradle.kts
Due: dids

add test for `InMemoryKeyManager.import`
  crypto/build.gradle.kts
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
Due: crypto

squelch detekt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
Due: crypto

to and from packet working
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
Due: dids

revert some changes
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

one more
  common/src/main/kotlin/web5/sdk/common/Error.kt
Due: common

remove incomplete methods
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

remove unused methods
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

fix line length
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

ok now it works
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

bump version
  build.gradle.kts
Due: none

swap out zbase32 impl
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
Due: dids

replace multiformats libs with handrolled `multihash` function
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

set java compatibility to 11
  build.gradle.kts
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

remove hardcoded encoded list
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

refactor `InMemoryKeyManager.import`
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

include example of exporting and importing a `did:key` when using `InMemoryKeyManager`
  build.gradle.kts
  common/module.md
  credentials/module.md
  crypto/module.md
  dids/module.md
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: credentials, crypto, dids, common

remove redundant comments and commented out code
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

Update dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
Due: dids

s/Stateful//
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
Due: credentials, dids

Let creation be done with DidIon.create
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: credentials, dids

Let creation be done with DidKey.create
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
  docs/examples.md
Due: credentials, dids

Fix naming
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
Due: none

refactor `export`
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

refactor `import`
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

Update test name to be more descriptive
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: dids

remove printlns from test
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: dids

Rename
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
Due: dids

Rename again
  dids/src/test/kotlin/web5/sdk/dids/DidWebTest.kt
Due: dids

Added tests.
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidWebTest.kt
Due: dids

reorganize `dids` package structure
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/.gitkeep
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/.gitkeep
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

chad making progress
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids, common

giving up on chad
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
Due: common

Moved ion to the correct package.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/.gitkeep
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/.gitkeep
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: credentials, dids
