Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

PR #241 - Document the appoaches we take to fixing security vulnerabilities through forced resolution strategy
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

fixing docs. finishing up using algorithmId instead of jwa and jwacurve as params in crypto and did methods.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, crypto, dids

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update bug-report.md (#246)
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
Due: crypto

ditching curveName for name, removed curveName as param in building JwaCurve and using default enum keyword 'name'
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
Due: crypto

removing algo from AlgorithmId.from() param
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
Due: crypto

removing algo from param of Crypto.verify() method since it is not needed in getVerifier()
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
Due: credentials, crypto

changing push trigger to be just for main
  .github/workflows/ci.yml
Due: none

addressing todos and making changes per discussion with @moegrammer.
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: crypto, dids

changing push trigger to be just for main (#247)
  .github/workflows/ci.yml
Due: none

Replace usage of nimbusds Algorithm and Curve with our own enums (#239)
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, crypto, dids

Extracts Publish Tests Report Action (#219)
  .github/workflows/ci.yml
  .github/workflows/tests-publish.yml
Due: none

remove danubech
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

updates
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/BitstringStatusListEntry.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

adding new types. wip - some difference between web5-go and did-common-java in comments
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidService.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidUri.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/models/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: credentials, dids

adding ktdocs. changing out id of type URI for id of type String in diddoc verif method and service types
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
Due: credentials, dids

removing todos and just using string for id instead of uri
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
Due: credentials, dids

pulling in Json from tbdex-kt for stringifying instead of relying on jsonldobject inherited methods from did common java. replacing didurl with a verificationMethodId splitting on #
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/Json.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

account for txt record name including method specific id
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

goodbye didion. cleaning up diddocument. renaming some methods. more questions as todos
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/models/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: dids

cleaning up. pulling documentmetadata back in from previously deleted didion stuff
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, dids

changing Did to BaseDid to reduce confusion between the Did that all did methods inherit from, and the new DID type
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

using verificationMethod() in the builder class, removing all purpose specific methods in favor of the generic one
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
Due: dids

updates
  credentials/src/main/kotlin/web5/sdk/credentials/model/BitstringStatusListEntry.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

updates
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/BitstringStatusListEntry.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

change to private
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

comments
  credentials/src/main/kotlin/web5/sdk/credentials/model/BitstringStatusListEntry.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

account for txt record name including method specific id (#251)
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

addressing some todos
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
Due: dids

reverting renaming, to be done later
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: credentials, dids

removing duplicate documentmetadata
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

hella kt docs
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
Due: credentials, dids

stuff from pairing
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/module.md
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

fixing tests
  config/detekt.yml
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  dids/src/main/kotlin/web5/sdk/dids/Json.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDCore.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/resources/did_document_jwkEx256k1Public_assertion.json
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
  dids/src/test/resources/expected_long_form_did_resolution.json
Due: credentials, dids

pulling in work done in PR#225 by @grahnj as part of removing did ion reference. in the middle of refactoring did dht slightly. only 7-8 tests failing now...
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Service.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, dids

wrote tests for diddocument
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DIDDocumentTest.kt
Due: dids

renaming Did.kt file to DidUri.kt to be consistent with current naming. making verificationMethod a set to avoid duplication. 1 test remains to be fixed
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidUri.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DIDDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
