Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Issue #323: Enforce jackson-dataformat-cbor to aligned version
  pom.xml
Due: none

Issue #323: Enforce jackson-dataformat-yaml
  pom.xml
Due: none

Issue #323: Enforce jackson-dataformat-cbor to aligned version (#326)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.1.3
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.3
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Publish documentation to GitHub pages
  docs/-web5 -s-d-k -documentation/package-list
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/scripts/pages.json
Due: none

Issue #322: Move AwsKeyManager to its own module
  credentials/pom.xml
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/pom.xml
  distribution/pom.xml
  keymanager-aws/pom.xml
  keymanager-aws/src/main/kotlin/web5/sdk/keymanager/aws/AwsKeyManager.kt
  keymanager-aws/src/test/kotlin/web5/sdk/keymanager/aws/AwsKeyManagerTest.kt
  pom.xml
Due: credentials, dids

Issue #322: Temporarily disable coverage enforcement for 'keymanager-aws'
  keymanager-aws/pom.xml
Due: none

Add did id to root record name
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Issue #322: Remove keymanager-aws from the distribution; devs may add separately as an extension
  distribution/pom.xml
Due: none

use code suggestion from @mistermoe to check the host
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/LocalHostDomainMatcher.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/LocalHostDomainMatcherTest.kt
Due: dids

support web did resolution over http for local host (#325)
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

[TBD Release Manager 🚀] Setting version to: v2.0.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v2.0.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Publish documentation to GitHub pages
  docs/-web5 -s-d-k -documentation/package-list
  docs/-web5 -s-d-k -documentation/web5.sdk.crypto/-key-manager/index.html
  docs/-web5 -s-d-k -documentation/web5.sdk.crypto/index.html
  docs/navigation.html
  docs/scripts/pages.json
Due: none

fix
  README.md
Due: none

fix 333
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

capture hex response
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

remove unused
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
Due: dids

add jvm overloads annotation
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

ordering
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

add thumbprint test
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Fix DID DHT NPE (#334)
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

[TBD Release Manager 🚀] Setting version to: v2.0.1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v2.0.1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting version to: v2.0.1-debug1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v2.0.1-debug1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  keymanager-aws/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Update README.md, missing close bracket
  README.md
Due: none

dnsjava version bump
  pom.xml
Due: none

dnsjava version bump (#337)
  pom.xml
Due: none

Add specs-report on CI
  .github/workflows/ci.yml
Due: none

Update README.md, missing close bracket (#336)
  README.md
Due: none

Add deprecation warning to README
  README.md
Due: none

update
  README.md
Due: none

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
