Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Force the api to use.
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
Due: dids

oops
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

account for signatures less than 64 bytes
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

appease detekt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
Due: crypto

version bump
  build.gradle.kts
Due: none

add TODO
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

add version hipster badge and usage instructions to README
  README.md
Due: none

Revert "add version hipster badge and usage instructions to README"
  README.md
Due: none

Update dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
Due: dids

Renames
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Moar names
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
Due: dids

change test name to be more descriptive
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

simplify test
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

fix payload generation in test
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

refactor test payload generation
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

test cases
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Ok we're good at this point
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtBlinder.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtBlinderTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtUnblinderTest.kt
Due: none

IImplement pex field filter schema
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Debugging tests
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

more goodies
  sdjwt/build.gradle.kts
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtBlinder.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtUnblinderTest.kt
Due: none

Some docs.
  sdjwt/src/README.md
Due: none

Anchors
  sdjwt/src/README.md
Due: none

anchors
  sdjwt/build.gradle.kts
Due: none

Tests passing
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Remove unused test data
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

build passing
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

one todo down
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtBlinder.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
Due: none

Only allow the set of supported algos.
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
Due: none

names
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
Due: none

handle array field values correctly
  config/detekt.yml
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

PR review changes
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/resources/pd_filter_array.json
  credentials/src/test/resources/pd_filter_value.json
  credentials/src/test/resources/pd_path_no_filter.json
  credentials/src/test/resources/pd_sanctions.json
  credentials/src/test/resources/revocable_vc.json
Due: credentials

Delete unused
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Fix other test
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Remove unused object mapper config
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Implement PresentationDefinition field filter schema (#102)
  config/detekt.yml
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
  credentials/src/test/resources/pd_filter_array.json
  credentials/src/test/resources/pd_filter_value.json
  credentials/src/test/resources/pd_path_no_filter.json
  credentials/src/test/resources/pd_sanctions.json
  credentials/src/test/resources/revocable_vc.json
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/entries.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/value-of.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/values.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange-error/-presentation-exchange-error.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange-error/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/satisfies-presentation-definition.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/select-credentials.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-rules/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-rules/value-of.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-rules/values.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/index.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

sans create
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidWebApiTest.kt
Due: dids

create did dht working
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

comments
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/ion/model/Models.kt
Due: dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
