Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Update did:dht resolution on invalid uri (#237)
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: credentials, dids

fixing tests
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
Due: credentials

adding more jwttest
  jose/src/main/kotlin/web5/sdk/jose/JwtClaimsSetSerializer.kt
  jose/src/test/kotlin/web5/sdk/jose/jwt/JwtTest.kt
Due: none

added jwktest
  crypto/src/test/kotlin/web5/sdk/crypto/jwk/JwkTest.kt
Due: crypto

fixing detekt error
  jose/src/test/kotlin/web5/sdk/jose/jwt/JwtTest.kt
Due: none

adding bearerdid tests
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
  dids/src/test/kotlin/web5/sdk/dids/did/PortableDidTest.kt
Due: dids

removing portabledidtest class because there is no method inside portabledid
  dids/src/test/kotlin/web5/sdk/dids/did/PortableDidTest.kt
Due: dids

fixing detekt error
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

moving nimbusds lib to implementation instead of api
  crypto/build.gradle.kts
Due: crypto

adding wording around not supporting did web creation
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

adding uri as a property to BearerDid as it was missed. addressing code review comments
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
Due: credentials, crypto, dids, common

small updates (#260)
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Issue #217 - Updates for Maven build:
  distribution/pom.xml
  pom.xml
Due: none

Issue #217: Fix failing dokka.sh in CI
  scripts/dokka.sh
Due: none

Issue #217 - Convert and port Gradle to Maven build for web5-kt
  .github/workflows/build-test-publish-tbd-artifactory.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release-and-publish.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-publish.yml
  .gitignore
  .maven_settings.xml
  README.md
  bin/.maven-3.9.6.pkg
  bin/gradle
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  common/build.gradle.kts
  common/module.md
  common/pom.xml
  credentials/build.gradle.kts
  credentials/pom.xml
  crypto/build.gradle.kts
  crypto/pom.xml
  dids/build.gradle.kts
  dids/pom.xml
  dokka-configuration.json
  gradle.properties
  gradle/libs.versions.toml
  jitpack.yml
  pom.xml
  settings.gradle.kts
  testing/build.gradle.kts
  testing/module.md
  testing/pom.xml
  web5/pom.xml
Due: credentials, crypto, dids, common

Rename CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests-publish.yml
  README.md
Due: none

Fix PR CI
  .github/workflows/build-test-publish-tbd-artifactory.yml
Due: none

Issue #217: Remove testing configs to be ready for merge
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pom.xml
Due: none

Issue #217: Upgrades to Web5 build:
  pom.xml
Due: none

Simplify dokka execution
  .github/workflows/release-and-publish.yml
  README.md
  config/dokka-configuration.json
  scripts/dokka.sh
Due: none

changing how portabledid is constructed in vc test vector test
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

addressing review comments
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: credentials, dids

Update dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

making error in testvectorinput to default to false, added portabledid parse test
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/test/kotlin/web5/sdk/dids/did/PortableDidTest.kt
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials, dids

adding comment about supporting keys that use ECC
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
Due: crypto

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yml
Due: none

reverting back to include portabledid concept in vc create test vector and the corresponding test
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Issue real releases, not pre-releases
  .github/workflows/release.yml
Due: none

adding a hashtag before the fragment in building jwsheader
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

removing an extraneous todo
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
Due: none

add evidence
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

extend jws decode to take in an optional detachedPayload
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/test/kotlin/web5/sdk/jose/jws/JwsTest.kt
Due: none

fixing testsss
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

adding a couple tests for verify
  jose/src/test/kotlin/web5/sdk/jose/jws/JwsTest.kt
Due: none

Fix latest releases
  .github/workflows/publish.yml
Due: none

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
