Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

Update gh-pages-deploy.yml (Fix #265)
  .github/workflows/gh-pages-deploy.yml
Due: none

Fix latest releases (#284)
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/publish.yml
Due: none

Update credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

Add Evidence (#282)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Extending Jws.decode() to take in optional detachedPayload parameter (#283)
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/test/kotlin/web5/sdk/jose/jws/JwsTest.kt
Due: credentials

using block cache artifactory to pull in danubetech
  credentials/build.gradle.kts
Due: credentials

adding links to docs
  README.md
Due: none

Move OSSF Checks to OSP
  .github/workflows/scorecard.yml
Due: none

Include jose in README
  README.md
Due: none

Add module.md for jose
  jose/module.md
Due: none

Add description of common to its module.md
  common/module.md
Due: common

Include jose in README (#288)
  README.md
Due: none

Add module.md for jose (#289)
  jose/module.md
Due: none

Add description of common to its module.md (#290)
  common/module.md
Due: common

Move OSSF Checks to OSP (#286)
  .github/workflows/scorecard.yml
Due: none

using block cache artifactory to pull in danubetech (#285)
  README.md
  credentials/build.gradle.kts
Due: credentials

update verify
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

remove comments
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

updates
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

updates
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

making filtering not so confusing
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

updates
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

updates
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: none

adding spec link in ktdoc
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

fixing vc verify conditions, add a new test using existing vc_jwt verify test vector
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

typo
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Make VC Verify more robust (#291)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
Due: credentials

update create vector
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

lint
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Issue #217 - Convert and port Gradle to Maven build for web5-kt
  .github/workflows/ci.yml
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-publish.yml
  .gitignore
  .maven_settings.xml
  README.md
  bin/.maven-3.9.6.pkg
  bin/gradle
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  common/build.gradle.kts
  common/module.md
  common/pom.xml
  credentials/build.gradle.kts
  credentials/pom.xml
  crypto/build.gradle.kts
  crypto/pom.xml
  dids/build.gradle.kts
  dids/pom.xml
  distribution/pom.xml
  gradle.properties
  gradle/libs.versions.toml
  jitpack.yml
  jose/build.gradle.kts
  jose/pom.xml
  pom.xml
  scripts/dokka-configuration.json
  scripts/dokka.sh
  settings.gradle.kts
  testing/build.gradle.kts
  testing/module.md
  testing/pom.xml
Due: credentials, crypto, dids, common

Issue #217: Remove testing configs to be ready for merge
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pom.xml
Due: none

Removes unnecessary comment
  .github/workflows/ci.yml
Due: none

adding more git command examples for pushing to web5-spec module
  README.md
Due: none

Convert Gradle to Maven Build (#261)
  .github/workflows/ci.yml
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/tests-publish.yml
  .gitignore
  .maven_settings.xml
  README.md
  bin/.maven-3.9.6.pkg
  bin/gradle
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  common/build.gradle.kts
  common/module.md
  common/pom.xml
  credentials/build.gradle.kts
  credentials/pom.xml
  crypto/build.gradle.kts
  crypto/pom.xml
  dids/build.gradle.kts
  dids/pom.xml
  distribution/pom.xml
  gradle.properties
  gradle/libs.versions.toml
  jitpack.yml
  jose/build.gradle.kts
  jose/pom.xml
  pom.xml
  scripts/dokka-configuration.json
  scripts/dokka.sh
  settings.gradle.kts
  testing/build.gradle.kts
  testing/module.md
  testing/pom.xml
Due: credentials, crypto, dids, common

Issue #296: Make a branch to stage release commits
  .github/workflows/release.yml
Due: none

Issue #296: ALRubinger-specific changes for testing. Remove this commit before going to upstream.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pom.xml
Due: none

Issue #296: Try to create a PR using GitHub REST API
  .github/workflows/release.yml
Due: none
