Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

adding satisfy pd
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/resources/pd_filter_array.json
  credentials/src/test/resources/pd_filter_array_multiple_input_descriptors.json
  credentials/src/test/resources/pd_mixed_multiple_input_descriptors.json
  credentials/src/test/resources/pd_path_no_filter_dob.json
  credentials/src/test/resources/pd_path_no_filter_multiple_input_descriptors.json
Due: credentials

new documentation
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

add doc
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

merge and update readme
  README.md
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Use Quad9 as the default dns bootstrapping list.
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
Due: dids

adding to support filter array on single path
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/resources/pd_filter_array_single_path.json
Due: credentials

Do not use gh specific markdown.
  dids/module.md
Due: dids

did:dht publishing and resolution (#118)
  README.md
  build.gradle.kts
  credentials/build.gradle.kts
  dids/build.gradle.kts
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: credentials, dids

Replace `verificationMethods` type in `did:dht` to use `VerificationMethodSpec`.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/models/Models.kt
  dids/src/main/kotlin/web5/sdk/dids/verificationmethods/VerificationMethod.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: credentials, dids

i have no idea how to simplify
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/verificationmethods/VerificationMethod.kt
Due: dids

merge conflicts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Adding the dht docs.
  dids/module.md
Due: dids

Use quad9 url
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
Due: dids

benchmark
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/BenchmarkTest.kt
Due: dids

bench
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/BenchmarkTest.kt
Due: dids

Replace DHT for one that's well known.
  dids/module.md
Due: dids

Consolidate documentation into module.md files (#142)
  README.md
  credentials/module.md
  crypto/module.md
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  docs/examples.md
Due: credentials, crypto, dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/index.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/index.html
  docs/htmlMultiModule/crypto/index.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/index.html
  docs/htmlMultiModule/dids/index.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.key/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api-configuration/engine.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api-configuration/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/load.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/-default/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-method/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolver/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/index.html
  docs/htmlMultiModule/index.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/package-list
  docs/htmlMultiModule/scripts/pages.json
Due: none

fix dht encoding
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

fix tests
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

fix dht encoding (#148)
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Validate that id isn't 0.
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Make sure the example was moved && post-merge snafu.
  dids/module.md
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
Due: dids

Rename to existing.
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Rename DidIon to drop `toAdd`
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: credentials, dids

update links to v2 spec
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
Due: credentials

Update credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

Implementing satisfiesPresentationDefinition (#143)
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/resources/pd_filter_array_multiple_input_descriptors.json
  credentials/src/test/resources/pd_filter_array_single_path.json
  credentials/src/test/resources/pd_mixed_multiple_input_descriptors.json
  credentials/src/test/resources/pd_path_no_filter_dob.json
  credentials/src/test/resources/pd_path_no_filter_multiple_input_descriptors.json
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange-error/-presentation-exchange-error.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange-error/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/satisfies-presentation-definition.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/select-credentials.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

adding createPresentationFromCredentials
  build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

Allow public constructors for Did subclasses.
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

Added tests in the style of test-vectors for credential creation
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/resources/revocable_vc.json
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtentions.kt
  test-vectors/credentials/create.json
Due: credentials, dids

Simplify
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

using custom exceptions instead of Exception, RuntimeException, and Error
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/BitstringExpansionException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/PresentationExchangeException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialCreateException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialFetchException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/VerifiableCredentialParseException.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: credentials, dids

adding tests to assert exceptions are thrown as expected
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, dids

fixing detekt errors
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/BitstringExpansionException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/PresentationExchangeException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialCreateException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialFetchException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/VerifiableCredentialParseException.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
Due: credentials, dids

all typed exceptions to extend from runtimeexception
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/BitstringExpansionException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/PresentationExchangeException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialCreateException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialFetchException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/VerifiableCredentialParseException.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
Due: credentials, dids

using assertThrows with type
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials
