Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Issue #297: Check out for releases using tbd-releases PAT
  .github/workflows/release.yml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.0.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.0.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Issue #299: Configure nexus-staging-maven-plugin to close and publish OSSRH to Maven Central. Must attempt live to validate this works.
  pom.xml
Due: none

Issue #299: Update nexus-staging-maven-plugin to match serverID used in deploy
  pom.xml
Due: none

Issue #299: Move nexus-staging-maven-plugin to 'ossrh' profile for activation
  pom.xml
Due: none

Issue #299: Fix nexus-staging-maven-plugin config:
  pom.xml
Due: none

Issue #300: Build JavaDoc JARs as required by Sonatype OSSRH and Maven Central
  pom.xml
Due: none

Issue #300: Speed up MacOS test build by testing only
  .github/workflows/ci.yml
Due: none

add cred schema
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

add cred schema (#301)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

test
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: dids

Spike Jwk bindings
  crypto/pom.xml
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
Due: crypto

Spike Jwk bindings (#304)
  crypto/pom.xml
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
Due: crypto

Spike InMemoryKeyManager bindings
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
Due: crypto

Fix kt casing idiom
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

Spike InMemoryKeyManager bindings (#305)
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
Due: crypto

Remove keyStore from InMemoryKeyManager altogether
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: crypto

WIP Spike for full VC sign & verify
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/pom.xml
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  pom.xml
Due: credentials, crypto, dids

Remove debug logs
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: credentials, dids

Parameterize key gen options
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: credentials, crypto, dids

Add VC signing & verifying binded code (#306)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/pom.xml
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  pom.xml
Due: credentials, crypto, dids

test for adding it via manual way
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

[TBD Release Manager 🚀] Setting version to: v1.1.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.0
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Publish documentation to GitHub pages
  docs/-web5 -s-d-k -documentation/package-list
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-credential-schema/-credential-schema.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-credential-schema/id.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-credential-schema/index.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-credential-schema/type.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/credential-schema.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/-verifiable-credential/index.html
  docs/-web5 -s-d-k -documentation/web5.sdk.credentials/index.html
  docs/navigation.html
  docs/scripts/pages.json
Due: none

Add copy function for updating docs and dids
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
