Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

Moved ion models
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/models/Models.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: dids

use lightingj lib
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
Due: dids, common

Update dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

Rebase
  common/build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
Due: common

remove unused
  dids/build.gradle.kts
Due: dids

it lives
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
Due: common

4 real
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

move magic numbers to consts and document `encode`
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
Due: common

remove print statements
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
Due: common

and `ZBase32` to `Convert`
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

add missing KDoc
  common/src/main/kotlin/web5/sdk/common/Convert.kt
Due: common

remove unnecessary `return`
  common/src/main/kotlin/web5/sdk/common/Convert.kt
Due: common

lint
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

refactor `isValid`
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidDhtTest.kt
Due: dids

make detekt happy
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

lint
  dids/src/main/kotlin/web5/sdk/dids/DidDht.kt
Due: dids

version bump third party actions
  .github/workflows/ci.yml
Due: none

add missing arg
  .github/workflows/ci.yml
Due: none

pr comments
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

naming
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

update creds readme
  credentials/README.md
Due: credentials

update to module
  credentials/README.md
  credentials/module.md
Due: credentials

sign bep44 in progress
  build.gradle.kts
  credentials/build.gradle.kts
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Pkarr.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/PkarrTest.kt
Due: credentials, dids

sign and verify bep44 working
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Pkarr.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/PkarrTest.kt
Due: dids

bep44 roundtrip
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Pkarr.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/PkarrTest.kt
Due: dids

progress but problem with sign/verify
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

get and put working
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

refactor to match ion
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

publishing with tests
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

add doc
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
Due: dids

lints
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

import ordering
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
Due: dids

Update dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
Due: dids

Apply suggestions from code review
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
Due: dids

test coverage
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

more tests
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

fix credentials docs
  credentials/module.md
Due: credentials

format credentials docs
  credentials/module.md
Due: credentials
