Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

add validate definition
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
Due: credentials

Pex select creds (#159)
  .github/workflows/ci.yml
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/presentation_exchange/select_credentials.json
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/-input-descriptor-mapping.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/format.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/id.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/path-nested.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-input-descriptor-mapping/path.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-presentation-submission/-presentation-submission.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-presentation-submission/descriptor-map.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-presentation-submission/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/create-presentation-from-credentials.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/satisfies-presentation-definition.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/select-credentials.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/scripts/pages.json
  docs/htmlMultiModule/testing/navigation.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vector/-test-vector.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vector/index.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vector/input.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vector/output.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vectors/index.html
  docs/htmlMultiModule/testing/web5.sdk.testing/-test-vectors/vectors.html
  docs/htmlMultiModule/testing/web5.sdk.testing/index.html
Due: none

Post post merge
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

DRY
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

Warnings
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
Due: dids

le cast
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Move to the conventions for test names (#174)
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/credentials/README.md
  test-vectors/credentials/create.json
  test-vectors/credentials/create_success.json
  test-vectors/credentials/verify.json
  test-vectors/credentials/verify_failure.json
Due: credentials

Fix... again
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Rename
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

Rename
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: dids

Do not advertise jitpack. (#171)
  README.md
Due: none

JWT and JsonPath parsing done outside the loop (#170)
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

Add release to the publishing step (#168)
  .github/workflows/publish.yml
Due: none

hash
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
Due: dids

Format
  sdjwt/src/README.md
Due: none

More docs
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
Due: none

reviews
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
Due: none

Names and more comments.
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtBlinderTest.kt
  settings.gradle.kts
Due: none

Use custom exceptions.
  sdjwt/src/main/kotlin/web5/security/ExceptionDeclarations.kt
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtBlinder.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtUnblinder.kt
Due: none

Add test vectors for did-dht and fix tests.
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  test-vectors/did_dht/README.md
  test-vectors/did_dht/create.json
  test-vectors/did_dht/resolve.json
Due: dids

rename exceptions
  dids/src/main/kotlin/web5/sdk/dids/exceptions/ExceptionDeclarations.kt
Due: dids

trigger sdk-development report build workflow when this repo is merged
  .github/workflows/ci.yml
Due: none

updates
  credentials/src/main/kotlin/web5/sdk/credentials/ExceptionDeclarations.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
Due: credentials

adding test vectors
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  test-vectors/presentation_exchange/validate_definition.json
Due: credentials

test coverage
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/resources/pd_invalid.json
  test-vectors/presentation_exchange/validate_definition.json
Due: credentials

trigger sdk-development report build workflow when this repo is merged (#180)
  .github/workflows/ci.yml
Due: none

Remove context.
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  test-vectors/did_dht/create.json
Due: dids

Add PEX Validate Definition (#177)
  credentials/src/main/kotlin/web5/sdk/credentials/ExceptionDeclarations.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/resources/pd_invalid.json
  test-vectors/presentation_exchange/validate_definition.json
Due: credentials

Use ; for properties and , for array elements.
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Add controller and aka
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Remove the fragment separator... again :P
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

controllers for verificationmethod
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Public API for verificationMethod.controller
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Support ES256 keys
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

add vp impl
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

more unit tests
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

Update dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
