Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

reverting a couple edits
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

reverting a couple edits, again
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

small changes to kdocs
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
Due: credentials, dids

Add more coverage and better names
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  test-vectors/credentials/create.json
Due: credentials, dids

Add our own JWSAlgorithm
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/JWSAlgorithm.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, crypto, dids, common

And let's call it Algorithm.
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Algorithm.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, crypto, dids, common

bye bye curve
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Curve.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: crypto, dids, common

Better location and docs
  crypto/src/main/kotlin/web5/sdk/crypto/Algorithm.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Curve.kt
Due: crypto

Allow public constructors for Did subclasses. (#152)
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/-did-ion/-did-ion.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/-did-ion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-did-jwk.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.key/-did-key/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.key/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/-did-web.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/index.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

update links to v2 spec (#150)
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationDefinition.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-conformant-consumer-disclosure/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-constraints-v2/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-field-v2/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-format/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-input-descriptor-v2/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-definition-v2/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/index.html
Due: none

Use okhttp and add DOH for didweb (#140)
  build.gradle.kts
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  dids/build.gradle.kts
  dids/module.md
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: credentials, dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.dht/-did-dht-configuration/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/-did-ion-configuration/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.ion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api-configuration/engine.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api-configuration/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/load.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web-api/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/-default/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/-did-web.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.web/-did-web/resolve.html
Due: none

Mark as throws and docs.
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

Removed the cruft.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Better organization of tests.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/credentials/create_failure.json
  test-vectors/credentials/create_success.json
Due: credentials

use the supportedMethod for `DidResolvers`
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
Due: dids

Update credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

Update credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
Due: credentials

updates
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
Due: credentials

Add to gitignore
  .gitignore
Due: none

Apply suggestions from code review
  .github/workflows/security.yml
Due: none

Add Snyk for Vulns and License checks
  .github/workflows/security.yml
Due: none

snyk and fossa
  .github/workflows/security.yml
Due: none

pr cleanup
  .github/workflows/security.yml
Due: none

Add Snyk for Vulns and License checks (#137)
  .github/workflows/security.yml
Due: none

adding a test to check when vc payload cannot be parsed into json
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

small kdoc edit
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

throwing unsupported operation exception. write a small test for this method
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

Added tests in the style of test-vectors for credential creation (#153)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/resources/revocable_vc.json
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  test-vectors/credentials/create_failure.json
  test-vectors/credentials/create_success.json
Due: credentials, dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-vc-data-model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/from-json.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/parse-jwt.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/verify.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/get-field-by-json-path.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/issuer.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/subject.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/to-string.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/type.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/vc-data-model.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/index.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/dids/web5.sdk.dids.extensions/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.extensions/load.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolver/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/add-resolver.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did/-companion/index.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/package-list
  docs/htmlMultiModule/scripts/pages.json
Due: none

Let's try this out
  .github/workflows/publish.yml
  build.gradle.kts
Due: none

incorporated tbd-detekt-ruleset via jitpack. running ./gradlew detekt is causing build failures due to methods without @JvmOverloads annotation as expected
  build.gradle.kts
  config/detekt.yml
Due: none

Update build.gradle.kts
  build.gradle.kts
Due: none

Cleanup
  common/build.gradle.kts
Due: common

We've got a working version
  build.gradle.kts
Due: none

Let's give CI a shot
  .github/workflows/publish.yml
Due: none

Github only likes caps
  build.gradle.kts
Due: none
