Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

Create presentation from credentials test vector in kt (#169)
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

use hex lib
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

removing crypto dependency from common package. updated build.gradle files to align on same jackson version. ignore tests for zbase32 methods with a todo and ticket
  build.gradle.kts
  common/build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, crypto, dids, common

adding ignore to a failing zbase32 test
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

remove attempted fix
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
Due: common

adding a shell snippet on how to build and publish a local artifact
  README.md
Due: none

Remove crypto dependency from common (#222)
  README.md
  build.gradle.kts
  common/build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, crypto, dids, common

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/web5.sdk.common/-z-base32/decode.html
Due: none

Adding test vectors for Secp256k1 (#211)
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

Publish documentation to GitHub pages
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/compress-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/index.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/inflate-public-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/validate-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-secp256k1/verify.html
Due: none

Add support for developing on Replit
  .replit
  README.md
  replit.nix
Due: none

fix did web test name
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

remove jwk import
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

fix jsonwebkey issue
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
Due: credentials

typo
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
Due: credentials

fix jsonwebkey issue (#233)
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.util/-jwt-util/verify.html
Due: none

update dht resolution
  dids/src/main/kotlin/web5/sdk/dids/ResolutionError.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Update CODEOWNERS
  CODEOWNERS
Due: none

add moar
  CODEOWNERS
Due: none

specific file
  CODEOWNERS
Due: none

Update CODEOWNERS (#238)
  CODEOWNERS
Due: none

Issue #226 - Align versions across web5-kt suite
  README.md
  build.gradle.kts
  common/build.gradle.kts
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
  gradle/libs.versions.toml
Due: credentials, crypto, dids, common

Issue #227 - Align versions across web5-kt suite
  README.md
  build.gradle.kts
  common/build.gradle.kts
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
  gradle/libs.versions.toml
Due: credentials, crypto, dids, common

first pass at using Jwa and JwaCurve instead of nimbus ones. also wrote AlgorithmId enum. probably wrong. very drafty
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: credentials, crypto, dids

Issue #240 - Apply forced version resolution to all projects
  build.gradle.kts
Due: none

Issue #242: Address sec vuln in protobuf-javalite
  build.gradle.kts
Due: none

Issue #243: Addresses sec vuln in com.google.guava:guava
  build.gradle.kts
Due: none

Issue #244: Addresses sec vuln in com.squareup.okio:okio
  build.gradle.kts
Due: none

PR #241 - Document the appoaches we take to fixing security vulnerabilities through forced resolution strategy
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

using algorithmId and encapsulating algo/curve combo within it. currently 1 test failing, investigating
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: crypto, dids

removing did common java dep
  credentials/build.gradle.kts
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/didcore/DIDDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidService.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidUri.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  gradle/libs.versions.toml
Due: credentials, dids

adding temp repo to pull down danubetech deps
  credentials/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, dids

trying out mavenContent releasesOnly()
  credentials/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, dids

adding temp repo to pull down danubetech deps (#245)
  credentials/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, dids
