Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

Use release
  .github/workflows/publish.yml
Due: none

upload junit result artifacts
  .github/workflows/ci.yml
  testing/build.gradle.kts
Due: none

Get rid of unneeded dep
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
Due: dids

test
  .github/workflows/ci.yml
Due: none

fix artifact upload
  .github/workflows/ci.yml
Due: none

Upgrade JVM and danubetech.
  build.gradle.kts
  credentials/build.gradle.kts
Due: credentials

Patches for plugins.
  build.gradle.kts
Due: none

Added docs.
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
Due: dids

Add tests
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

Adding test publishing to BuildKite (#161)
  .github/workflows/ci.yml
Due: none

Add test vectors for verifiable credential verify (#162)
  .github/workflows/ci.yml
  credentials/build.gradle.kts
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  settings.gradle.kts
  test-vectors/credentials/README.md
  test-vectors/credentials/create_failure.json
  test-vectors/credentials/create_success.json
  test-vectors/credentials/verify_failure.json
  test-vectors/credentials/verify_success.json
  testing/build.gradle.kts
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

adding tests for Convert class method
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

Post merge fixes.
  sdjwt/build.gradle.kts
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtBlinderTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
Due: none

merge and updates
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/presentation_exchange/select_credentials.json
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

clean up
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Upload necessary files across folders.
  .github/workflows/ci.yml
Due: none

Upload necessary files across folders. (#165)
  .github/workflows/ci.yml
Due: none

using TestCases to apply different input and output for each method being tested
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

Adding publishing to Central Repository using a github action (#156)
  .github/workflows/publish.yml
  .gitignore
  README.md
  build.gradle.kts
  common/build.gradle.kts
Due: common

Pin woodstox
  build.gradle.kts
Due: none

Fix docs publishing.
  testing/module.md
Due: none

Fix docs publishing. (#166)
  testing/module.md
Due: none

adding tests for Convert class methods (#164)
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  common/src/test/kotlin/web5/sdk/common/ConvertTest.kt
Due: common

Fix gradle publishing typo
  .github/workflows/publish.yml
Due: none

Fix gradle publishing typo (#167)
  .github/workflows/publish.yml
Due: none

Add release to the publishing step.
  .github/workflows/publish.yml
Due: none

words
  .github/workflows/publish.yml
Due: none

new test vector
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

JWT and JsonPath parsing done outside the loop
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

Do not advertise jitpack.
  README.md
Due: none

Use the did_web test vector.
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/ResolutionErrors.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  dids/src/test/resources/expected_long_form_did_resolution.json
  test-vectors/did_web/resolve.json
Due: credentials, dids

update name
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
Due: credentials

Force the woodstox version
  build.gradle.kts
Due: none

Add did_jwk test vectors
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  test-vectors/did_jwk/resolve.json
Due: dids

Pin woodstox for subprojects as well.
  build.gradle.kts
Due: none

Revert "Upgrade JVM and danubetech."
  build.gradle.kts
  credentials/build.gradle.kts
Due: credentials

Move to the conventions for test names
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/credentials/README.md
  test-vectors/credentials/create.json
  test-vectors/credentials/create_success.json
  test-vectors/credentials/verify.json
  test-vectors/credentials/verify_failure.json
Due: credentials

change name
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials
