Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

The caps are downcased passed in the action
  .github/workflows/publish.yml
  build.gradle.kts
Due: none

Better names plus caching.
  .github/workflows/publish.yml
Due: none

Added release documentation.
  README.md
Due: none

adding @JvmOverloads annotation after running detekt
  .gitignore
  build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: credentials, crypto, dids, common

More docs, bundle all into the same jar
  README.md
  build.gradle.kts
Due: none

adding select credentials and test vectors
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  test-vectors/presentation-exchange/select-credentials-v1.json
Due: credentials

fix
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
Due: credentials

todo
  .github/workflows/publish.yml
Due: none

Upgraded library versions
  build.gradle.kts
  credentials/build.gradle.kts
  crypto/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, crypto, dids

format
  build.gradle.kts
Due: none

Upgrade danube
  credentials/build.gradle.kts
Due: credentials

Actually upgrade jackson
  credentials/build.gradle.kts
  dids/build.gradle.kts
Due: credentials, dids

pulling all typed exceptions into one file. making typed exception message nullable. adding @throws ktdoc and @Throws annotation
  .gitignore
  credentials/src/main/kotlin/web5/sdk/credentials/ExceptionDeclarations.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/BitstringExpansionException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/PresentationExchangeException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialCreateException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/StatusListCredentialFetchException.kt
  credentials/src/main/kotlin/web5/sdk/credentials/exceptions/VerifiableCredentialParseException.kt
Due: credentials

Only bencoding
  build.gradle.kts
  dids/build.gradle.kts
Due: dids

Moar updating
  build.gradle.kts
  crypto/build.gradle.kts
Due: crypto

Missed it
  build.gradle.kts
Due: none

Try again with ttorrent
  dids/build.gradle.kts
Due: dids

adding back error messages. using illegalargumentexception while checking the vc and pd's inputdescriptor length.
  credentials/src/main/kotlin/web5/sdk/credentials/ExceptionDeclarations.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

Custom exceptions instead of Exception, RuntimeException, and Error (#154)
  .gitignore
  credentials/src/main/kotlin/web5/sdk/credentials/ExceptionDeclarations.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/exceptions/PkarrRecordResponseException.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, dids

Update README.md
  README.md
Due: none

Adding test publishing to BuildKite
  .github/workflows/ci.yml
Due: none

add tbd-detekt-ruleset for adding @JvmOverloads (#157)
  build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  config/detekt.yml
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: credentials, crypto, dids, common

added underscore
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  test-vectors/presentation-exchange/select_credentials_v1.json
Due: credentials

Add test vectors for verify
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  test-vectors/credentials/verify_failure.json
  test-vectors/credentials/verify_success.json
Due: credentials

Rename
  test-vectors/credentials/verify_failure.json
  test-vectors/credentials/verify_success.json
Due: none

Add README.md
  test-vectors/credentials/README.md
Due: none

simplify
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Correct the version from 1.0 to 1.1
  test-vectors/credentials/create_failure.json
  test-vectors/credentials/create_success.json
  test-vectors/credentials/verify_failure.json
  test-vectors/credentials/verify_success.json
Due: none

Explicit guidance.
  test-vectors/credentials/README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

PR comments.
  README.md
Due: none

Implement createPresentationFromCredentials (#151)
  build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationDefinition.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/PresentationSubmission.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

Refactor TestVectors into a testing module.
  credentials/build.gradle.kts
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  settings.gradle.kts
  testing/src/main/kotlin/web5/sdk/testing/TestVectors.kt
Due: credentials

rename according to convention
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

updates
  .github/workflows/ci.yml
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  test-vectors/presentation-exchange/select_credentials_v1.json
Due: credentials

uypdate
  .github/workflows/ci.yml
Due: none

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
