Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

version bump third party actions (#116)
  .github/workflows/ci.yml
Due: none

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/index.html
  docs/htmlMultiModule/index.html
Due: none

comment
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/Dht.kt
Due: dids

add type index enum
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

ignore
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

Consistent api
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidWebTest.kt
Due: dids

Add documentation
  docs/examples.md
Due: none

Implement JWK with spec tests.
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
Due: dids

Docs
  dids/module.md
Due: dids

Support for DID web (#106)
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidWebTest.kt
  docs/examples.md
Due: dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-method/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/add-resolver.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api-configuration/engine.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api-configuration/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api/-did-web-api.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web-api/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web/-default/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web/-did-web.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-web/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/index.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

mocks
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Update dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

pr comments
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

lint
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

line length
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

pr comments
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

add tests
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

Update dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
Due: dids

pr comments
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

Add load to DidKey
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

Added load to all implementations.
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/util/TestUtils.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  dids/src/test/resources/did_document_jwkEx256k1Public_assertion.json
Due: credentials, crypto, dids

Use okhttp and add DOH for didweb
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  dids/build.gradle.kts
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  docs/examples.md
Due: credentials, dids

Remove examples.md in favor of module.md
  README.md
  dids/module.md
  docs/examples.md
Due: dids

Added integration tests to cover okhttp client
  build.gradle.kts
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
Due: dids

Actually use the default.
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
Due: dids

PR feedback
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: crypto, dids

Implement JWK with spec tests. (#136)
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
Due: dids

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/index.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/-create-did-jwk-options.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/algorithm.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/curve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-create-did-jwk-options/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/create.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/method-name.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-companion/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/-did-jwk.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/-did-jwk/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.jwk/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids.methods.key/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-create-did-options/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-method/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/add-resolver.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/index.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did-resolvers/resolve.html
  docs/htmlMultiModule/dids/web5.sdk.dids/-did/index.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/package-list
  docs/htmlMultiModule/scripts/pages.json
Due: none

Added tests
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
Due: credentials, dids

Move all docs to modules
  credentials/module.md
  crypto/module.md
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, crypto, dids

jwk deserves load as well
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
Due: dids

More test coverage
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

MOAHR TESTS
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

MOAHR TESTS
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: dids

too many lol
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
Due: dids

Make constructors internal/private and introduce a `load` method (#139)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/module.md
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/util/TestUtils.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  dids/src/test/resources/did_document_jwkEx256k1Public_assertion.json
Due: credentials, crypto, dids

Post merge problems.
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids
