Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

codecov.yaml:

component_management:
  individual_components:
    - component_id: "credentials"
      paths:
        - "credentials/"
    - component_id: "crypto"
      paths:
        - "crypto/"
    - component_id: "dids"
      paths:
        - "dids/"
    - component_id: "common"
      paths:
        - "common/"

comment:
  layout: "header, diff, components"

add some docs
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
Due: dids

need to actually read and comprehend error messages
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
Due: dids

add an update helper
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

line length
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

add more idiomatic
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

don't append but replace
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

adding in the docs
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

use an updatedhtoptions type alias with clear docs
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

use update vs create type aliases correctly
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

clarify docs that it isn't additive
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

remove copy() and do it inline in update()
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: dids

another take on simpler way of adding a service
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

bump bouncycastle version to 1.78
  pom.xml
Due: none

bump bouncycastle version to 1.78 (#314)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.1.1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

Fix artifactory SNAPSHOT publishing w/o credentials
  .github/workflows/ci.yml
Due: none

setting bcprov-jdk18on artifact version to align with other bouncycastle artifact
  pom.xml
Due: none

Fix artifactory SNAPSHOT publishing w/o credentials (#316)
  .github/workflows/ci.yml
Due: none

adding bcutil-jck15to18 artifact to have same bc version
  pom.xml
Due: none

adding bcutil-jdk15to18 artifact
  pom.xml
Due: none

consistent artifact version for bouncycastle dependencies (#317)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.1.2
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.2
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

tighten it up to just addService as was described in original bug
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/test/kotlin/web5/sdk/dids/did/BearerDidTest.kt
Due: dids

bump bouncycastle for security fixes
  pom.xml
Due: none

use a different branch for security.yml
  .github/workflows/security.yml
Due: none

fix on
  .github/workflows/security.yml
Due: none

give job permissions
  .github/workflows/security.yml
Due: none

test not giving it permissions here
  .github/workflows/security.yml
Due: none

making vc type nullable during VerifiableCredential.Create()
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

checking vcdatamodel type list size
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

[TBD Release Manager 🚀] Setting version to: v1.1.2-debug-1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.2-debug-1
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting version to: v1.1.2-debug-2
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

[TBD Release Manager 🚀] Setting next development version after: v1.1.2-debug-2
  common/pom.xml
  credentials/pom.xml
  crypto/pom.xml
  dids/pom.xml
  distribution/pom.xml
  jose/pom.xml
  pom.xml
  testing/pom.xml
Due: credentials, crypto, dids, common

making vc type nullable during VerifiableCredential.Create() (#321)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

support web did resolution over http for local host
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/LocalHostDomainMatcher.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/LocalHostDomainMatcherTest.kt
Due: dids

add doc to isLocalHostDomain
  dids/src/main/kotlin/web5/sdk/dids/methods/web/LocalHostDomainMatcher.kt
Due: dids
