Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Test refactors (#91)
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationDefinitionTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/TestData.kt
Due: credentials

Bump version
  build.gradle.kts
Due: none

Added more validation and tests
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Bump version (#92)
  build.gradle.kts
Due: none

Default ion creation sets assertion method
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: dids

Undo test changes
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Remove newline
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Default ion creation sets assertion method (#93)
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: dids

fix null pointer in VC verify
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

updates
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-conformant-consumer-disclosure/-p-r-e-f-e-r-r-e-d/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-conformant-consumer-disclosure/-r-e-q-u-i-r-e-d/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-conformant-consumer-disclosure/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/-preferred/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-optionality/-required/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-rules/-pick/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-rules/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-list-credential/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-list-credential/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-list-credential/validate-credential-in-status-list.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-list2021-entry/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/-r-e-v-o-c-a-t-i-o-n/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/-s-u-s-p-e-n-s-i-o-n/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/entries.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/value-of.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-status-purpose/values.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-vc-data-model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/from-json.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/verify.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/get-field-by-json-path.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/issuer.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/sign.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/to-string.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/type.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/vc-data-model.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/index.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

bump version to 0.0.6
  build.gradle.kts
Due: none

Apply suggestions from code review
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

Do also authentication by default.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
Due: dids

Remove optionality in ion DID operations.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  docs/examples.md
Due: dids

Test
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Simplifying and standardizing options accross the board.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: dids

Use method managers
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: credentials, dids

Use method managers
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
Due: credentials, dids

Fix null pointer in VC verify (#94)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/from-json.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/parse-jwt.html
Due: none

Pre detekt commit, with simple functionality
  dids/build.gradle.kts
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtSignerTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
  settings.gradle.kts
Due: dids

Tests pass.
  sdjwt/src/main/kotlin/web5/security/SdJwt.kt
  sdjwt/src/main/kotlin/web5/security/SdJwtSigner.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtSignerTest.kt
  sdjwt/src/test/kotlin/web5/security/SdJwtTest.kt
  sdjwt/src/test/resources/example1.sdjwt
Due: none

Removing cruft
  sdjwt/src/test/kotlin/web5/security/SdJwtSignerTest.kt
Due: none

Prune gradle file.
  sdjwt/build.gradle.kts
Due: none

more testing with default client
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
Due: credentials

Rename to DidKeyApi
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: credentials, dids

Rename to DidIonApi
  dids/src/main/kotlin/web5/sdk/dids/DidIonApi.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
Due: dids

Rename to StatefulDid
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
Due: credentials, dids

Interface that can also generate.
  dids/src/main/kotlin/web5/sdk/dids/DidIonManager.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

Rename to StatefulIonDid
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIonApi.kt
Due: credentials, dids

Go full on Did<Method>Api interfaces.
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/test/kotlin/web5/sdk/dids/DidKeyTest.kt
Due: credentials, dids

Use DidKeyApi as full namespace
  dids/src/main/kotlin/web5/sdk/dids/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
Due: dids

smol fixes n tests
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  dids/src/test/kotlin/web5/sdk/dids/DidIonTest.kt
Due: dids

moahrr fixes
  dids/src/main/kotlin/web5/sdk/dids/DidIon.kt
  docs/examples.md
Due: dids

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
