Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

changing Did to ChangemeDid to make it easier to spot and replace w BearerDid. changed DidUri to Did
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDID.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/Did.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: credentials, dids

removing didmethod interface
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
Due: dids

trying on BearerDID for did jwk
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: dids

Automate GH Release Publication (#256)
  .github/workflows/publish.yml
  README.md
Due: none

removing create options
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
Due: dids

moved bearerdid import() to companion object so i can call bearerdid.import() as a static method. not sure if right path, might reverse
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDID.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

updated codeowners doc
  CODEOWNERS
Due: none

changing type names to be true CamelCase. implemented Jws methods and related types
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolutionResult.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/did/PortableDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/jws/Jws.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDhtDocumentMetadata.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, dids

updates to match spec
  credentials/src/main/kotlin/web5/sdk/credentials/model/VcDataModel.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

wrote jwt class. modify jws class to include builder for jwsheader
  dids/src/main/kotlin/web5/sdk/dids/jws/Jws.kt
  dids/src/main/kotlin/web5/sdk/dids/jwt/Jwt.kt
Due: dids

sub out JwtUtils.sign() for Jwt.sign()
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/jwt/Jwt.kt
Due: credentials, dids

implemented jwt. removed jwtutil class
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/jws/Jws.kt
  dids/src/main/kotlin/web5/sdk/dids/jwt/Jwt.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, crypto, dids, common

using hand rolled JwsHeader and JwtClaimsSet instead of nimbusds
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

adding jwk impl, in progress
  common/src/main/kotlin/web5/sdk/common/Json.kt
  dids/src/main/kotlin/web5/sdk/dids/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/jws/Jws.kt
  dids/src/main/kotlin/web5/sdk/dids/jwt/Jwt.kt
Due: dids, common

adding jose package. fixing some todos
  common/src/main/kotlin/web5/sdk/common/Json.kt
  credentials/build.gradle.kts
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/build.gradle.kts
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Signer.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Ed25519Test.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/did/PortableDid.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/util/TestUtils.kt
  jose/build.gradle.kts
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
  settings.gradle.kts
Due: credentials, crypto, dids, common

goodbye, changemedid
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/extensions/DidExtensions.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
Due: credentials, dids

updating tests to test import instead of load
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, crypto, dids

fix did dht resolve
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

spacing
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

fix did dht resolve (#268)
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
Due: credentials

wrote kt docs, fixed didresolvers, removed resolvedidoptions because not being used
  common/src/main/kotlin/web5/sdk/common/Json.kt
  config/detekt.yml
  crypto/build.gradle.kts
  crypto/src/main/kotlin/web5/sdk/crypto/KeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/DidMethod.kt
  dids/src/main/kotlin/web5/sdk/dids/DidResolvers.kt
  dids/src/main/kotlin/web5/sdk/dids/did/BearerDid.kt
  dids/src/main/kotlin/web5/sdk/dids/did/PortableDid.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: crypto, dids, common

removing unnecessary tests
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: dids

fixing tests
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/KeyGenerator.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Signer.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Ed25519Test.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/web/DidWeb.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/VerificationMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: credentials, crypto, dids

Fix duplicated SDK runner trigger
  .github/workflows/ci.yml
Due: none

requiring keytype and curve when building Jwk
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: crypto, dids

adding default keyUse of sig to Jwk when computing public key.
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
Due: crypto

fixing some tests
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: credentials

Fix duplicated SDK runner trigger (#269)
  .github/workflows/ci.yml
Due: none

adding '$.misc.vc....' path to all test vector jsons
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/resources/pd_filter_array.json
  credentials/src/test/resources/pd_filter_array_multiple_input_descriptors.json
  credentials/src/test/resources/pd_filter_array_single_path.json
  credentials/src/test/resources/pd_filter_value.json
  credentials/src/test/resources/pd_invalid.json
  credentials/src/test/resources/pd_mixed_multiple_input_descriptors.json
  credentials/src/test/resources/pd_path_no_filter.json
  credentials/src/test/resources/pd_path_no_filter_dob.json
  credentials/src/test/resources/pd_path_no_filter_multiple_input_descriptors.json
  credentials/src/test/resources/pd_sanctions.json
Due: credentials

fixing test vectors for credentials package tests
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/resources/pd_filter_array_multiple_input_descriptors.json
  credentials/src/test/resources/pd_mixed_multiple_input_descriptors.json
  credentials/src/test/resources/pd_path_no_filter_multiple_input_descriptors.json
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
Due: credentials, crypto

reverting back adding $.misc.vc... for valid paths, instead using jwtclaimset serializer
  common/src/main/kotlin/web5/sdk/common/Json.kt
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/resources/pd_filter_array.json
  credentials/src/test/resources/pd_filter_array_multiple_input_descriptors.json
  credentials/src/test/resources/pd_filter_array_single_path.json
  credentials/src/test/resources/pd_filter_value.json
  credentials/src/test/resources/pd_invalid.json
  credentials/src/test/resources/pd_mixed_multiple_input_descriptors.json
  credentials/src/test/resources/pd_path_no_filter.json
  credentials/src/test/resources/pd_path_no_filter_dob.json
  credentials/src/test/resources/pd_path_no_filter_multiple_input_descriptors.json
  credentials/src/test/resources/pd_sanctions.json
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
  jose/src/main/kotlin/web5/sdk/jose/JwtClaimsSetSerializer.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: credentials, crypto, dids, common

merge and update
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
Due: credentials, dids

bump OSSF scorecard action
  .github/workflows/scorecard.yml
Due: none

new unit test
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

removing todos, removing extraneous Convert() call in Jwt.decode()
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  common/src/main/kotlin/web5/sdk/common/Json.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiablePresentation.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidTest.kt
  jose/src/main/kotlin/web5/sdk/jose/JwtClaimsSetSerializer.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
Due: credentials, crypto, dids, common

removing jwk serializer/deserializer
  dids/src/main/kotlin/web5/sdk/dids/Serialization.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/VerificationMethod.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
Due: dids

bump OSSF scorecard action (#275)
  .github/workflows/scorecard.yml
Due: none

tests pass. writing tests for jwt in process. jwk still needs tests written
  build.gradle.kts
  common/src/main/kotlin/web5/sdk/common/Convert.kt
  crypto/src/main/kotlin/web5/sdk/crypto/AwsKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Dsa.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/main/kotlin/web5/sdk/crypto/InMemoryKeyManager.kt
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/jwk/Jwk.kt
  crypto/src/test/kotlin/web5/sdk/crypto/AwsKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/InMemoryKeyManagerTest.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/didcore/DidDocument.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/didcore/DidDocumentTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  jose/build.gradle.kts
  jose/src/main/kotlin/web5/sdk/jose/JwtClaimsSetSerializer.kt
  jose/src/main/kotlin/web5/sdk/jose/jws/Jws.kt
  jose/src/main/kotlin/web5/sdk/jose/jwt/Jwt.kt
  jose/src/test/kotlin/web5/sdk/jose/jws/JwsTest.kt
  jose/src/test/kotlin/web5/sdk/jose/jwt/JwtTest.kt
Due: crypto, dids, common

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
