Repository TBD54566975/web5-kt: changes, and which Codecov flags are due for each by the changed paths.
All: credentials, crypto, dids, common

Update ci.yml
  .github/workflows/ci.yml
Due: none

Enable OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

Add OSSF Badge
  README.md
Due: none

Rename sdk-development -> web5-spec (#193)
  .github/workflows/ci.yml
Due: none

validate presentaion submission with new validator
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

small fixes
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
Due: credentials

Setup CodeQL SAST (#194)
  .github/workflows/codeql.yml
Due: none

adding new validation
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
Due: credentials

Enable OSSF Scorecard (#207)
  .github/workflows/scorecard.yml
  README.md
Due: none

Adding options. (#195)
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/create.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/from-json.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/parse-jwt.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-verifiable-credential/-companion/verify.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

Update publish.yml (#209)
  .github/workflows/publish.yml
Due: none

update setup instructions for dependencies
  README.md
Due: none

new vector
  crypto/build.gradle.kts
  crypto/src/main/kotlin/web5/sdk/crypto/Secp256k1.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

remove imports
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

test vector updates
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  test-vectors/presentation_exchange/create_presentation_from_credentials.json
Due: credentials

Update crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Secp256k1Test.kt
Due: crypto

Issue #204. Refactored crypto directory
  crypto/src/main/kotlin/web5/sdk/crypto/Crypto.kt
  crypto/src/main/kotlin/web5/sdk/crypto/dsa/ecdsa/Secp256k1.kt
  crypto/src/main/kotlin/web5/sdk/crypto/dsa/eddsa/Ed25519.kt
  crypto/src/test/kotlin/web5/sdk/crypto/dsa/ecdsa/Secp256k1Test.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: crypto, dids

add validatePrivateKey and validatePublicKey
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
Due: crypto

Add ed25519 verify and sign tests against vectors
  crypto/build.gradle.kts
  crypto/src/test/kotlin/web5/sdk/crypto/Ed25519Test.kt
Due: crypto

Commiting dekekt fixes that I forgot locally
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DhtClient.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/dht/DidDht.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
Due: dids

Fixes issue #206 Bye did:ion
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
Due: dids

Fixes issue #196 Renamed InMemoryKeyManager to LocalKeyManager
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  crypto/src/main/kotlin/web5/sdk/crypto/LocalKeyManager.kt
  crypto/src/test/kotlin/web5/sdk/crypto/LocalKeyManagerTest.kt
  dids/src/intTest/kotlin/web5/sdk/dids/DidIntegrationTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidMethodTest.kt
  dids/src/test/kotlin/web5/sdk/dids/DidResolversTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/dht/DidDhtTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/jwk/DidJwkTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/web/DidWebTest.kt
Due: credentials, crypto, dids, common

Fixes issue #176. Added VerifiableCredentialJwt to support verifyAndParse()
  credentials/src/main/kotlin/web5/sdk/credentials/StatusListCredential.kt
  credentials/src/main/kotlin/web5/sdk/credentials/VerifiableCredential.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/StatusListCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Cleaned up test name and added better asserts for new test
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
Due: credentials

Updated KDocs to replace references to in-memory with local/locally.
  crypto/src/main/kotlin/web5/sdk/crypto/LocalKeyManager.kt
Due: crypto

remove jboss
  README.md
Due: none

update setup instructions for dependencies (#210)
  README.md
Due: none

Validate presentaion submission with new validator (#208)
  credentials/src/main/kotlin/web5/sdk/credentials/PresentationExchange.kt
  credentials/src/main/kotlin/web5/sdk/credentials/model/Validator.kt
  credentials/src/test/kotlin/web5/sdk/credentials/PresentationExchangeTest.kt
Due: credentials

Publish documentation to GitHub pages
  docs/htmlMultiModule/common/navigation.html
  docs/htmlMultiModule/credentials/navigation.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-presentation-submission-validator/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/-presentation-submission-validator/validate.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials.model/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/create-presentation-from-credentials.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/index.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/satisfies-presentation-definition.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/validate-definition.html
  docs/htmlMultiModule/credentials/web5.sdk.credentials/-presentation-exchange/validate-submission.html
  docs/htmlMultiModule/crypto/navigation.html
  docs/htmlMultiModule/dids/navigation.html
  docs/htmlMultiModule/navigation.html
  docs/htmlMultiModule/scripts/pages.json
  docs/htmlMultiModule/testing/navigation.html
Due: none

Extracts Publish Tests Report Action
  .github/workflows/ci.yml
  .github/workflows/tests-publish.yml
Due: none

adjust run id
  .github/workflows/tests-publish.yml
Due: none

progress
  common/src/main/kotlin/web5/sdk/common/ZBase32.kt
  common/src/test/kotlin/web5/sdk/common/ZBase32Test.kt
Due: common

updating to JsonWebKey
  credentials/src/main/kotlin/web5/sdk/credentials/util/JwtUtil.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiableCredentialTest.kt
  credentials/src/test/kotlin/web5/sdk/credentials/VerifiablePresentationTest.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/ion/DidIon.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/jwk/DidJwk.kt
  dids/src/main/kotlin/web5/sdk/dids/methods/key/DidKey.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/ion/DidIonTest.kt
  dids/src/test/kotlin/web5/sdk/dids/methods/key/DidKeyTest.kt
  dids/src/test/resources/basic_did_resolution.json
  dids/src/test/resources/did_document_jwkEx256k1Public_assertion.json
  dids/src/test/resources/did_jwk_p256_document.json
  dids/src/test/resources/did_jwk_x25519_document.json
Due: credentials, dids

Remove redundant okp keytype check and prints
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Ed25519Test.kt
Due: crypto

Adding tests for Ed25519 vectors (#213)
  crypto/build.gradle.kts
  crypto/src/main/kotlin/web5/sdk/crypto/Ed25519.kt
  crypto/src/test/kotlin/web5/sdk/crypto/Ed25519Test.kt
Due: crypto

Publish documentation to GitHub pages
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/index.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/validate-private-key.html
  docs/htmlMultiModule/crypto/web5.sdk.crypto/-ed25519/validate-public-key.html
  docs/htmlMultiModule/scripts/pages.json
Due: none

Path conditions:
  credentials: any of: credentials/
  crypto: any of: crypto/
  dids: any of: dids/
  common: any of: common/
